/* Styles go here. */
header li {
	 list-style: none;
}
h1 {
	background-color: red;
	border: 5px solid blue;
	color: orange;
	display: red;
	text-align: center;

}
	h2 {
		text-align: center
}
a:link, a:visited {
  text-decoration: none;
  background-color: black;
  border: 5px solid yellow;
  color: white;
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 1px;
	}

a:hover, a:active {
  background-color: red;
  color: purple;
}
body {
	background-color: grey;
	font-size: 150%;

}

.alert {
 	 padding: 20px;
 	 background-color: #00FF00;
  	color: black;
	}

	.closebtn {
 	 margin-left: 15px;
 	 color: black;
 	 font-weight: bold;
 	 float: right;
 	 font-size: 22px;
  	line-height: 20px;
  	cursor: pointer;
  	transition: 0.3s;
	}

	.closebtn:hover {
	  color: black;
	}